/*************************************************
    RESET
 *************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/
/* LAYOUT */
.container {
  margin: 0 auto;
  max-width: 1204px; /* 1140px */
  padding: 32px;
}
.container-sm {
  margin: 0 auto;
  max-width: 944px;  /* 880px */
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.flex{
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.row-reverse{
  flex-direction: row-reverse;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.gap-30{
gap: 30px;
}

.col-100 {
  width: 100%;
}
.col-50 {
  width: 50%;
}
.col-33 {
  width: calc(100%/3);
}
.col-66 {
  width: calc((100%/3)*2);
}

.marginX-center {
  margin: 0 auto;
}

/* TEXT */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* BUTTONS */
.bt-style1{
  border: 0;
  border-radius: 500px;
  padding: 10px;
  background-color: white;
}

/*************************************************
    GENERAL STYLES
 *************************************************/
body{
  font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
  background-color: #0084FD;
}
.header img{
  display: block;
}
.header li{
  color: white;
}
.header button{
  padding: 10px 15px;
}


/* MAIN */

/* FOOTER */

/*************************************************
    MEDIA RESPONSIVE
 *************************************************/
 /* form phone to desktop */

 /* breakpoints Small*/
 @media (min-width: 576px) {
	
}
 /* breakpoints Medium*/
 @media (min-width: 768px) {
	
 }
 /* breakpoints Large*/
 @media (min-width: 992px) {
	
 }
  
 /*************************************************
    DEBUG
 *************************************************/
header,
main,
footer{
  border-top: 2px solid rgb(0, 250, 0);
}

.debug .container {
  border: 1px dashed rgba(250, 0, 0, 0.3);
  padding: 10px;
}

.debug .row {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.debug [class^="col-"] {
  background-color: #daa52062;
  padding: 10px;
  min-height: 10px;
}

